<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Weather Data API App" />
    <meta name="author" content="Your Name" />
    <title>Weather Data API</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <header>
      <h1>Weather Data API</h1>
    </header>
    <main>
      <p>Welcome to the Weather Data API app!</p>
      <p>{{data|safe}}</p>
    </main>
    <footer>
      <p>&copy; 2025 Weather Data API App</p>
    </footer>
    <script src="script.js"></script>
  </body>
</html>
